# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Database
db.sqlite3
*.sqlite3

# Environment variables
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
